# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local

# Agent
.agent/

# Prompts and Documentation
prompt*.md
web dev updated.md

#ignore images
about_hero.png
about_rest.png
about_rest_fixed.png
services_rest_fixed.png
services_rest.png
services_rest_fixed2.png